.youtube-icon {
  color: #FF0000 !important; /* Default color */
  /* font-size: 24px; */
  transition: transform 0.3s ease, color 0.3s ease;
  display: block; /* Allow transform to work */
}

.youtube-icon:hover {
    transform: translateY(-3px) scale(1.2) !important; /* Makes the icon grow on hover */
    color: #cd0000 !important; /* Changes the color on hover */
    cursor: pointer;
}

.youtube-link{
  padding: 0 !important;
  /* vertical-align: middle; */
  margin: auto;
  font-size: 1.5em;
}

table th, table td {
  padding: 10px;
}
problem-title{
  min-width: 200px !important;
}

table th {
  white-space: nowrap; /* Prevent wrapping */
}
.problem-id {
  min-width: 70px;
  white-space: nowrap; /* Prevent wrapping */
}

.table-container{
  padding: 0 5px 5px 5px;
}
/* Make sure the problem title gets enough space */
.table .problem-title {
  width: 45%; /* Allow the problem title to take up more space */
  min-width: 200px;
}


table th {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}


table {
    font-family: 'Arial', sans-serif;
    /* font-size: 15px; */
}
table {
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
table{
  box-shadow: 0 2px 4px rgba(169, 169, 169, 0.594);
}


.table-container {
  overflow-x: auto; 
}

.table th, .table td {
  padding: 0.5rem; 
}

.table th {
  text-align: left;
}

.table td {
  word-wrap: break-word; 
}


table tr:hover a {
  /* color: black ;  */
  /* font-weight: bold; */
  text-decoration: underline;
}

table td a {
  display: block; /* Make the link take up the full width of the table cell */
  text-decoration: none; /* Optional: Remove underline */
}



/* style css for checkbox  */
.fancy-checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  line-height: 18px;
  user-select: none;
  vertical-align: middle;
}

.fancy-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: relative;
  height: 20px;
  width: 20px;
  background-color: #e0e0e0;
  border-radius: 4px;
  transition: all 0.3s ease;
  display: inline-block;
}
.dark-theme .checkmark{
  background-color: rgb(96, 96, 96);
}

.fancy-checkbox:hover .checkmark {
  background-color: #cfcfcf;
}

.fancy-checkbox input:checked ~ .checkmark {
  background-color: #4caf50;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.fancy-checkbox input:checked ~ .checkmark:after {
  display: block;
}




/* dark theme */

/* DSASheet.css */

.dark-theme .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05); /* Slightly darker background for striped rows */
}

.dark-theme .form-control,
.dark-theme .form-select {
  background-color: #3b3f45; /* Darker background for form elements */
  border-color: #555; /* Darker border color */
  color: #e0e0e0;
}

.dark-theme .input-group-text{
  background-color: #3b3f45;
  border-color: #555;
  color: #e0e0e0;
}

.dark-theme .btn-dark{
  background-color: #3b3f45;
  border-color: #555;
  color: #e0e0e0;
}

.dark-theme .btn-outline-secondary.btn-dark {
  color: #e0e0e0; /* White text for contrast */
  border-color: #555; /* Slightly lighter border */
}

.dark-theme .btn-outline-secondary.btn-dark:hover {
  background-color: #444; /* Darker background on hover */
  border-color: #666; /* Slightly darker border on hover */
}

.dark-theme .progress {
  background-color: #444; /* Darker progress bar background */
}

.dark-theme a {
  color: #61dafb; 
}

.dark-theme a:hover {
  color: #2196f3; /* Example hover link color */
}

