.youtube-icon {
  color: #FF0000; /* Default color */
  /* font-size: 24px; */
  transition: transform 0.3s ease, color 0.3s ease;
  display: block; /* Allow transform to work */
}

.youtube-icon:hover {
    transform: translateY(-3px) scale(1.2) !important; /* Makes the icon grow on hover */
    color: #cd0000 !important; /* Changes the color on hover */
    cursor: pointer;
}

.youtube-link{
  padding: 0 !important;
  /* vertical-align: middle; */
  margin: auto;
  font-size: 1.5em;
}

table th, table td {
  padding: 10px;
}
problem-title{
  min-width: 200px !important;
}

table th {
  white-space: nowrap; /* Prevent wrapping */
}
.problem-id {
  /* min-width: 80px; */
  white-space: nowrap; /* Prevent wrapping */
}

.table-container{
  padding: 0 5px 5px 5px;
}
/* Make sure the problem title gets enough space */
.table .problem-title {
  width: 50%; /* Allow the problem title to take up more space */
}

@media (max-width: 768px) {
  .table-container {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; 
  }
  .table .problem-title {
    width: 40%; /* On smaller screens, reduce the space for title */
  }
  problem-title{
    min-width: 200px !important;
  }
  table {
      width: 100%;
      min-width: 700px; 
      table-layout: fixed; 
  }
}



table th {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}


table {
    font-family: 'Arial', sans-serif;
    /* font-size: 15px; */
}
table {
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* th, td {
  border: 0.1px solid #e1e1e1aa;
} */


.table-container {
  overflow-x: auto; 
}

.table th, .table td {
  padding: 0.5rem; 
}

.table th {
  text-align: left;
}

.table td {
  word-wrap: break-word; 
}


table tr:hover a {
  /* color: black ;  */
  /* font-weight: bold; */
  text-decoration: underline;
}

table td a {
  display: block; /* Make the link take up the full width of the table cell */
  text-decoration: none; /* Optional: Remove underline */
}



/* style css for checkbox  */
.fancy-checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  line-height: 18px;
  user-select: none;
  vertical-align: middle;
}

.fancy-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: relative;
  height: 20px;
  width: 20px;
  background-color: #e0e0e0;
  border-radius: 4px;
  transition: all 0.3s ease;
  display: inline-block;
}

.fancy-checkbox:hover .checkmark {
  background-color: #cfcfcf;
}

.fancy-checkbox input:checked ~ .checkmark {
  background-color: #4caf50;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.fancy-checkbox input:checked ~ .checkmark:after {
  display: block;
}


/* css for tags  */

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag-pill {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  background-color: #f1f1f1;
  border-radius: 15px;
  font-size: 0.9rem;
  color: #555;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
  font-size: 0.7rem;
}

.tag-pill:hover {
  background-color: #ddd;
  color: #333;
  cursor: pointer;
}

.tags-toggle-icon {
  cursor: pointer;
  font-size: 14px;
  color: #d9481c;
  margin-left: 5px;
  transition: transform 0.2s ease-in-out;
}

.tags-toggle-icon:hover {
  color: #d9481c;
  transform: scale(1.1);
}


/* css for tags end */