
.banner{
  background: linear-gradient(to right, #ffe0d8, #feb47b); /* Gradient Background */
  padding: 2rem;
}
.custom-img {
  max-width: 300px;  /* Reduced size */
  height: auto;
  border-radius: 15px;  /* Rounded corners */
  /* border: 3px solid orangered;  */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);  /* Soft shadow */
  object-fit: cover;  /* Ensures proper scaling */
}


.banner-left {
  /* animation: fadeInTop 2s ease-in-out; */
  width: 100%;
  min-width: 322px;
  /* border:2px solid green; */
  box-sizing: border-box;
  padding: 2rem 0rem;
}

.banner-right{
  /* border:2px solid red; */
  min-width: 250px;
  width: 100%;
}
