/* DSAPage.css */

/* Light Theme */
.theme-light {
    background-color: #ffffff;
    color: #212529;
  }
  
  .theme-light .container {
    background-color: #fff;
  }
  
  .theme-light .accordion-button {
    background-color: #f8f9fa;
    color: #212529;
    border: 1px solid #dee2e6;
  }
  
  .theme-light .accordion-body {
    background-color: #ffffff;
    color: #212529;
  }
  
  .theme-light .btn-custom {
    background-color: #d9481c;
    border-color: #d9481c;
    color: #fff;
  }
  
  /* Dark Theme */
  .theme-dark {
    background-color: #212529;
    color: #f8f9fa;
  }
  
  .theme-dark .container {
    background-color: #343a40;
  }
  
  .theme-dark .accordion-button {
    background-color: #495057;
    color: #f8f9fa;
    border: 1px solid #6c757d;
  }
  
  .theme-dark .accordion-body {
    background-color: #343a40;
    color: #f8f9fa;
  }
  
  .theme-dark .btn-custom {
    background-color: #d9481c;
    border-color: #d9481c;
    color: #fff;
  }
  